<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rule to serve files from storage/app/public -->
                <!-- <rule name="Serve Storage" stopProcessing="true">
                    <match url="^storage/(.*)$" ignoreCase="true" />
                    <action type="Rewrite" url="../storage/app/public/{R:1}" />
                </rule> -->

                <!-- Laravel Web Rule -->
                <rule name="Laravel Web Rule" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
